/*即享券*/
@font-face {
        font-family: 'Glyphicons Halflings';
        src: url(../fonts/glyphicons-halflings-regular.eot);
        src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
    }

    input[type = "tel"] {
        font-size: 18px;
    }

    .addtowallet {
        margin: 20px auto;
        max-width: 750px;
        width: calc(100% - 20px);
        text-align: center;
    }

        .addtowallet .title {
            color: #162056;
            font-size: 20px;
            line-height: 150%;
            font-weight: bold;
        }

        .addtowallet .btn {
            margin: 20px 0px 0px 0px;
        }

            .addtowallet .btn a,
            .addtowallet .btn img {
                display: block;
            }

            .addtowallet .btn img {
                max-width: 100%;
                margin: 0px auto;
            }

        .addtowallet .google-pay .btn img {
            width: 272px;
            height: 41px;
        }

        .addtowallet .apple-wallet .btn img {
            width: 150px;
            height: 46.34px;
        }

        .addtowallet .error-btn {
            display: none;
        }

        .addtowallet.error .btn .add-btn {
            display: none;
        }

        .addtowallet.error .btn .error-btn {
            display: block;
            filter: grayscale(1)drop-shadow(0px 0px 3px rgba(0,0,0,.8));
            opacity: .3;
        }

        .addtowallet.error .btn {
            cursor: no-drop;
        }

        .addtowallet .description {
            color: #323232;
            font-size: 14px;
            line-height: 150%;
            margin: 20px auto 0px auto;
            max-width: 400px;
            width: calc(100% - 40px);
            font-weight: 400;
            display: block;
        }

            .addtowallet .description span {
                display: inline-block;
                vertical-align: middle;
            }

            .addtowallet .description .browser-logo img {
                width: 30px;
                height: auto;
                margin: 0px 10px;
                border: 2px solid #80c2e4;
                border-radius: 1000px;
            }

        .addtowallet.error .description {
            display: block;
        }

        .addtowallet .edenred-wallet .addto-myedenred {
            background: #f71727;
            color: #FFFFFF;
            border-radius: 5px;
            border: none;
            padding: 10px 15px;
            box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
            font-family: Montserrat, 'Ping Fang','Microsoft JhengHei';
        }

            .addtowallet .edenred-wallet .addto-myedenred > * {
                display: inline-block;
                vertical-align: middle;
                margin: 0px 5px;
            }

            .addtowallet .edenred-wallet .addto-myedenred .myedenred-logo {
                line-height: 0px;
                font-size: 0px;
            }

                .addtowallet .edenred-wallet .addto-myedenred .myedenred-logo img {
                    width: 60px;
                    height: auto;
                }

    .demarcation {
        margin: 20px 0px 0px 0px;
        position: relative;
        text-align: center;
    }

        .demarcation:before {
            content: "";
            position: absolute;
            left: 0px;
            right: 0px;
            height: 1px;
            top: 0px;
            bottom: 0px;
            margin: auto 0px;
            border-bottom: 1px dotted #d9d9d9;
            z-index: 1;
        }

        .demarcation .text {
            position: relative;
            display: inline-block;
            background: #ffffff;
            padding: 5px 10px;
            color: #808080;
            font-size: .85rem;
            z-index: 2;
        }

    .edenred-wallet .description {
        color: #162056;
        font-weight: 500;
        letter-spacing: -0.03em;
    }

    .addtowallet .edenred-wallet {
        display: none;
    }

    .addtowallet .demarcation {
        display: none;
    }
