ul.marquee {
	/* required styles */
	position: relative;
	overflow: hidden;
}

ul.marquee li {
	/* required styles */
	position: absolute;
	top: -999em;
	left: 0;
	display: block;
	white-space: nowrap; /* keep all text on a single line */
}
.news-ticker {
	display: flex;
	justify-content: center;
}
.news-ticker .marquee {
	font-size: 0.9em;
	font-weight: bold;
	color: yellow;
 	vertical-align: middle;
	background: rgba(0, 33, 70, 0.37);
	line-height: 40px;
	height: 40px;
	width: 95%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: 1px solid #d6d4d43d;
	border-radius: 5px;
}
